
.navbar {
    padding: 1rem 0.25rem !important;
}

.nav-gradient {
    background: rgba(44, 62, 80, 98%);
    background: -webkit-linear-gradient(to right, rgba(0, 28, 64, 98%), rgba(24, 49, 83, 98%), rgba(44, 62, 80, 98%));
    background: linear-gradient(to right, rgba(0, 28, 64, 98%), rgba(24, 49, 83, 98%), rgba(44, 62, 80, 98%));
}

svg {
    width: 18px;
    height: 16px;
}

.nav-link {
        color: var(--gen-white) !important;
}

@media (max-width: 991px) {
    .nav-link {
        padding: 0.75rem 0.75rem !important;
    }

    .navbarLogo {
        width: 165px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        padding: 0.5rem 1.5rem !important;
    }

    .navbarLogo {
        width: 175px;
    }
}

.nav-cart-counter {
    margin: 0px 2px !important;
    padding: 0px 6px !important;
    border-radius: 50px !important;
}

.navbar-cart {
    background: linear-gradient(to left, rgba(0, 28, 64, 90%), rgba(24, 49, 83, 90%), rgba(44, 62, 80, 90%));
}