
.prodImg {
	width: 400px;
    height: 400px;
    object-fit: cover;
}

.prodImg:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.5s ease;
	z-index: 1;
}

.prodPrice {
	font-size: 25px;
	font-weight: bold;
	color: var(--price-red);

}

.prodName {
	font-size: 28px !important;
	font-weight: bold !important;
}


.brandImg {
	width: 100px;
	margin: auto;
}

.qtyInput {
	width: 120px !important;
}

.logout {
	background-color: rgba( 255, 255 , 255, 0) !important;
	color: var(--link-blue) !important;
	border: none !important;
}

.orderDetailsText {
	text-align: center;
}

.orderDetailsPrice {
	text-align: center;
	font-weight: bold;
	color: var(--price-red) !important;
	font-size: 25px !important;
}