
@media (max-width: 991px) {
	.prodImg {
		width: 250px;
	    height: 250px;
	    object-fit: cover;
	}

	.prodName {
		font-size: 24px !important;
		font-weight: bold !important;
		margin-top: 0px !important;
	}

	.brandImg {
		height: 23px;
		margin: auto;
	}
}

@media (min-width: 992px) {
	.prodImg {
		width: 400px;
	    height: 400px;
	    object-fit: cover;
	}

	.prodName {
		font-size: 28px !important;
		font-weight: bold !important;
		margin-top: 15px !important;
	}

	.brandImg {
		height: 30px;
		margin: auto;
	}

	.productViewBrand {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.prodImg:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.5s ease;
	z-index: 1;
}

.prodPrice {
	font-size: 25px;
	font-weight: bold;
	color: var(--price-red);
}

.qtyInput {
	width: 120px !important;
}

.logout {
	background-color: rgba( 255, 255 , 255, 0) !important;
	color: var(--link-blue) !important;
	border: none !important;
}

.orderDetailsText {
	text-align: center;
}

.prodDescription {
	text-align: justify;
}

.orderDetailsPrice {
	text-align: center;
	font-weight: bold;
	color: var(--price-red) !important;
	font-size: 25px !important;
}