
@media (max-width: 991px) {
	.product-img {
		width: 100%;
	    height: 250px;
	    object-fit: cover;
	}

	.product-name {
		font-size: 24px !important;
		font-weight: bold !important;
		margin-top: 0px !important;
	}

	.product-brand {
		height: 23px;
		margin: auto;
	}
}

@media (min-width: 992px) {
	.product-image {
		width: 100%;
	    height: 400px;
	    object-fit: cover;
	}

	.product-name {
		font-size: 28px !important;
		font-weight: bold !important;
		margin-top: 15px !important;
	}

	.product-brand {
		height: 30px;
		margin: auto;
	}

	.product-brand-offset {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.product-img:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 0.5s ease;
	z-index: 1;
}

.product-description {
	text-align: justify;
}

.product-price {
	font-size: 25px;
	font-weight: bold;
	color: var(--price-red);
}

.qty-input {
	width: 120px !important;
}

.logout {
	background-color: transparent !important;
	color: var(--link-blue) !important;
	border: none !important;
}

.order-details-text {
	text-align: center;
}

.order-details-price {
	text-align: center;
	font-weight: bold;
	color: var(--price-red) !important;
	font-size: 25px !important;
}