
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --gen-white: rgb(255, 255, 255);
  --bg-teal: rgb(44, 62, 80);
  --bg-navy: rgb(24, 49, 83);
  --link-blue: rgb(93, 167, 219);
  --warning-orange: rgb(221, 87, 28);
  --danger-red: rgb(126, 25, 27);
  --price-red: rgb(238, 77, 45);
  --amd-red: rgb(227, 27, 34);
  --nvidia-green: rgb(118, 185, 0);
  --intel-blue: rgb(8, 217, 214);
}

.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}

body, html {
  font-family: 'Lexend', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bannerBtn {
  /* fallback for old browsers */
  background: rgba(44, 62, 80, 90%);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(24, 49, 83, 90%), rgba(44, 62, 80, 90%));
    
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(24, 49, 83, 90%), rgba(44, 62, 80, 90%));

  border-color: var(--bg-teal) !important;
  padding: 0.5rem 2rem !important;
}

.dataLabel, .productsMain {
  font-weight: bold;
  font-size: 30px;
}

.btn-primary {
  background-color:  var(--bg-teal) !important;
  border-color:  var(--bg-teal) !important;
}

.prodNameButton {
  background: none !important;
  color: var(--link-blue) !important;
  border: none !important;
  font-weight: bold !important;
}

.yourCartIsEmpty {
  font-size: 22px !important;
}

.btn-danger {
  background-color: rgba(126, 25, 27, 90%) !important;
  border-color: var(--danger-red) !important;
}

.btn-warning {
  background-color: var(--warning-orange) !important;
  border-color: var(--warning-orange) !important;
  color: var(--gen-white) !important;
}

.nvidiaFilter {
  color: var(--nvidia-green) !important;
  border-color: var(--nvidia-green) !important;
}

.amdFilter {
  color: var(--amd-red) !important;
  border-color: var(--amd-red) !important;
}

.intelFilter {
  color: var(--intel-blue) !important;
  border-color: var(--intel-blue) !important;
}

@media (max-width: 991px){
  .showOnSmall {
    display: block;
  }

  .hideOnSmall {
    display: none;
  }
}

@media (min-width: 992px){
  .showOnSmall {
    display: none;
  }
}

.adminProfileLabel {
  width: 75px;
}

.userProfileLabel {
  width: 105px;
}

.editProductLabel {
  justify-content: center;
  width: 55px;
}

.dataTable {
  overflow-x: scroll;
}

.editQty {
  background: none !important;
  color: var(--link-blue);
}